/*.header2 {
    position: relative;
    height: 100vh;
    background-color: $slate;
    margin-top: 0rem;
    overflow: hidden;
}

.title2 {
    position: absolute;
    top: 30%;
    left: 15%;
    color: $deep;
    font-size: 8rem;
    letter-spacing: .5rem;
    overflow: hidden;
    @include phone {
        font-size: 5rem;
        left: 22%;
        top: 10%;
    }
    @include tablet {
        top: 3%;
        left: 35%;
    }
    @include laptop {
        top: 1%;
        left: 17%;
    }
}

.title2:hover {
    color: $pink;
}

.title2::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    top: 55%;
    right: 0;
    background: $slate;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.title2:hover::after {
    transform: translate3d(100%, 0, 0);
}

.title2::before {
    content: attr(data-letters);
    color: $pink;
}

.title2:hover::before {
    width: 100%;
}

.projectwork {
    width: 60rem;
    height: 60rem;
    display: flex;
    overflow-x: auto;
    transform: translate(90%, 20%);
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    @include laptop {
        transform: translate(30%,27%);
    }
    @include tablet {
        width: 60rem;
        height: 60rem;
        transform: translate(63%,20%);
    }
    @include phone {
        transform: translate(10%, 90%);
        width: 30rem;
        height: 30rem;
    }
}

.flexcloud {
    width: 80rem;
    flex-shrink: 0;
    height: 100%;
}

.projectworkbtns>a {
    display: inline-flex;
    width: 3.5rem;
    height: 3.5rem;
    background: $pink;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bolder;
    color: $slate;
    transform: translate(3100%, 320%);
    @include laptop {
        transform: translate(2750%, 320%);
    }
    @include tablet {
        transform: translate(900%,50%);
    }
    @include phone {
        transform: translate(420%,750%);
    }
}

.view {
    font-size: 3rem;
    font-weight: lighter;
    color: $pink;
    transform: translate(56%, 280%);
    cursor: pointer;
    @include laptop {
        transform: translate(63%, 380%);
    }
    @include tablet {
        transform: translate(42%,320%);
    }
    @include phone {
        transform: translate(32%, 750%);
    }
}

.view:hover {
    color: $deep;
}*/
