.header2 {
  position: relative;
  height: 100vh;
  background-color: $slate;
  margin-top: 0rem;
}

.title2 {
  position: absolute;
  top: 30%;
  left: 15%;
  font-family: "Ibarra Real Nova", serif;
  color: $deep;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  overflow: hidden;
  @include phone {
    font-size: 4rem;
  }
}
.title2:hover {
  color: $pink;
}

.title2::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  top: 55%;
  right: 0;
  background: $slate;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.title2:hover::after {
  transform: translate3d(100%, 0, 0);
}

.title2::before {
  content: attr(data-letters);
  color: $pink;
}

.title2:hover::before {
  width: 100%;
}
.projectwork {
  display: flex;
  flex-direction: column;
  margin-left: 70rem;
  transform: translateY(15rem);
  width: 100rem;
  font-family: "Ibarra Real Nova", serif;
  @include phone {
    object-position: left;
  }
}

.f1 {
  background: $lightPink;
  text-align: center;
  font-size: 3rem;
  padding-top: 3rem;
  color: $purple;
}

.f1title {
  transition: transform 0.2s;
}
.f1title:hover {
  transform: scale(1.15);
}
.f2 {
  background: $lightPink;
  flex-direction: row;
  display: flex;

  font-size: 1.5rem;
  padding: 3rem;
  color: $purple;
}

.flexcloud {
  width: 70%;
  height: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}
.f3 {
  background: $lightPink;
  text-align: center;
  font-size: 3rem;
  color: $purple;
  padding-bottom: 3rem;
}

.f3title {
  transition: transform 0.2s;
}

.f3title:hover {
  transform: scale(1.15);
}
.ssrightbtn {
  background: transparent;
  border: none;
}

.ssleftbtn {
  background: transparent;
  border: none;
}
