.header2 {
    position: relative;
    height: 100vh;
    background-color: $slate;
    margin-top: 0rem;
}

.title2 {
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: 'Ibarra Real Nova', serif;
    color: $deep;
    font-size: 8rem;
    letter-spacing: .5rem;
}

.projectwork {
    display:flex;
    flex-direction: column;
    margin-left: 70rem;
    transform: translateY(15rem);
    width:100rem;
    font-family: 'Ibarra Real Nova', serif;
}

.f1 {
    background: $lightPink;
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
    color: $purple;
  }
  .f2 {
    background: $lightPink;
    flex-direction: row;
    display: flex;

    font-size: 1.5rem;
    padding:3rem;
    color: $purple;
  }

  .flexcloud {
      width: 70%;
      height: auto;
      padding-left: 4rem;
      padding-right: 4rem;
  }
  .f3 {
    background: $lightPink;
    text-align: center;
    font-size: 3rem;
    color: $purple;
    padding-bottom: 3rem;
  }

  .ssrightbtn {
    background: transparent;
    border: none;
  }

  .ssleftbtn {
    background: transparent;
    border: none;
  }