.header2 {
    height: 100vh;
    background-color: $slate;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title2 {
    
}

.projectwork {
    display: flex;
}
