.header3 {
    height: 100vh;
    background-color: $lightPink;
    margin-top: 0%;
}

.title3 {
    color: $slate;
    font-size: 8rem;
    letter-spacing: 0.5rem;
    @include phone {
      font-size: 3rem;
    }
    @include tablet{
      font-size: 7rem;
    }
}

.cloudgallery{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 40%;
  cursor: pointer;
  @include phone{
    width: 75%;
  }
  @include tablet{
    width: 90%;
  }
  @include laptop{
    width: 90%;
  }
}

.flexgallery{
  width: 35rem;
  height: 35rem;
  padding: 1rem;
  @include phone{
    width: 20rem;
    height: 12rem;
  }
  @include tablet{
    width: 20rem;
    height: 20rem;
  }
  @include laptop{
    width: 29rem;
    height: 29rem;
  }
}

.flexgallery1{
  width:53.55rem;
  height: 30rem;
  padding: 1rem;
  @include phone{
    width: 20rem;
    height: 12rem;
  }
  @include tablet{
    width: 31rem;
    height: 25rem;
  }
  @include laptop{
    width: 45rem;
  }
}
.h3flex{
  display: flex;
  align-items: center;
  flex-direction: column;
}