.header2 {
    position: relative;
    height: 100vh;
    background-color: $slate;
    margin-top: 0rem;
}

.title2 {
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: 'Ibarra Real Nova', serif;
    color: $deep;
    font-size: 8rem;
    letter-spacing: .5rem;
    overflow: hidden;
    @include phone {
        font-size: 5rem;
        left: 22%;
        top: 10%;
    }
    @include tablet {
        top: 23%;
        left: 35%;
    }
    @include laptop {
        top: 1%;
        left: 33%;
    }
}

.title2:hover {
    color: $pink;
}

.title2::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    top: 55%;
    right: 0;
    background: $slate;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.title2:hover::after {
    transform: translate3d(100%, 0, 0);
}

.title2::before {
    content: attr(data-letters);
    color: $pink;
}

.title2:hover::before {
    width: 100%;
}

.projectwork {
    width: 45rem;
    height: 45rem;
    display: flex;
    overflow-x: auto;
    transform: translate(160%, 25%);
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.flexcloud {
    width: 45rem;
    flex-shrink: 0;
    height: 100%;
}

.projectworkbtns>a {
    display: inline-flex;
    width: 2.5rem;
    height: 2.5rem;
    background: $pink;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bolder;
    color: $slate;
    transform: translate(3700%, 400%);
}

.view {
    font-size: 3rem;
    font-weight: lighter;
    color: $pink;
    transform: translate(53%, 260%);
    cursor: pointer;
}

.view:hover {
    color: $deep;
}