@import "_variables.scss";

html{
    font-size: 62.5%;
    padding: 0rem;
    margin-top: 0rem;
    box-sizing: border-box;
}

.header1 {
    position: relative;
    height: 100vh;
                                                                                                                                                                                                                                              
}

.slideshow {
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.slideshow img {
    position: absolute;
    animation: slideshow 100s infinite;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
  }
  
  @keyframes slideshow {
    10% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
  }
  
  .slideshow img:nth-child(1) {
    animation-delay: 0s;
  }
  .slideshow img:nth-child(2) {
    animation-delay: 5s;
  }
  .slideshow img:nth-child(3) {
    animation-delay: 10s;
  }
  .slideshow img:nth-child(4) {
    animation-delay: 15s;
  }
  .slideshow img:nth-child(5) {
    animation-delay: 20s;
  }
  .slideshow img:nth-child(6) {
    animation-delay: 25s;
  }
  .slideshow img:nth-child(7) {
    animation-delay: 30s;
  }
  .slideshow img:nth-child(8) {
    animation-delay: 35s;
  }
  .slideshow img:nth-child(9) {
    animation-delay: 40s;
  }
.title1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    z-index:2;
    color: $slate;
    @include phone {
      font-size: 1rem;
    }
}

.title1:hover {
    color: $purple;
}

// for menu
.word-container {
  display: flex;
  transform: translateY(-59rem);
  letter-spacing: .75rem;
  font-size: 4rem;
  justify-content: space-evenly;
  z-index:2;
  padding-right: 40rem;
  padding-left: 40rem;
  font-family: 'Ibarra Real Nova', serif;
  color: $slate;
}

.projects{
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    transition:all .5s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      transition:all .5s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:4px solid $slate;
      border-left:4px solid $slate;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:4px solid $slate;
      border-right:4px solid $slate;
    }
    &:hover{
      &:before,&:after{
        width:100%;
        height:100%;
      }
    }
  }

  .about{
    cursor:pointer;
      position:relative;
      padding:10px 20px;
      transition:all .5s;
      &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        transition:all .5s;
        }
      &:after{
        top:-1px;
        left:-1px;
        border-top:4px solid $slate;
        border-left:4px solid $slate;
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:4px solid $slate;
        border-right:4px solid $slate;
      }
      &:hover{
        &:before,&:after{
          width:100%;
          height:100%;
        }
      }
    }
  
    .contact{
      cursor:pointer;
        position:relative;
        padding:10px 20px;
        transition:all .5s;
        &:after,&:before{
          content:" ";
          width:10px;
          height:10px;
          position:absolute;
          transition:all .5s;
          }
        &:after{
          top:-1px;
          left:-1px;
          border-top:4px solid $slate;
          border-left:4px solid $slate;
        }
        &:before{
          bottom:-1px;
          right:-1px;
          border-bottom:4px solid $slate;
          border-right:4px solid $slate;
        }
        &:hover{
          &:before,&:after{
            width:100%;
            height:100%;
          }
        }
      }