.header2 {
    height: 100vh;
    background-color: $slate;
    margin-top: 0%;
  }
   
     
  .projectwork-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10rem;
    @include phone{
      align-items: center;
      flex-direction: column;
      padding-top: 3rem;
    }
    @include tablet{
      padding-top: 6rem;
    }
  }
   
  .title2 {
    color: $deep;
    font-size: 8rem;
    letter-spacing: 0.5rem;

    @include phone {
      font-size: 3rem;
    }
    @include tablet{
      font-size: 5rem;
    }
  }
   
  .title2:hover {
    color: $pink;
    overflow: hidden;
    cursor: pointer;
  }
   
  .view {
    font-size: 3rem;
    font-weight: lighter;
    color: $pink;
    cursor: pointer;
  }
   
  .view:hover {
    color: $deep;
  }
  
  .projectworkbtns > a {
    display: inline-flex;
    width: 3.5rem;
    height: 3.5rem;
    background: $pink;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bolder;
    color: $slate;
  
  }
   
  .bigbox {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .projectwork {
    display: flex;
    width: 60rem;
    height: 60rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    @include phone{
      width: 30rem;
      height: 30rem;
    }
    @include tablet{
      width: 40rem;
      height: 40rem;
    }
  }
   

 
  .flexcloud {
    width: 80rem;
    flex-shrink: 0;
    height: 100%;
    @include phone{
      width: 30rem;
    }
    @include tablet{
      width: 40rem;
    }
  }
   
  