@import "_variables.scss";

.sidebar {
    height: 100%;
    width: 25rem;
    position: fixed;
    z-index:3;
    top: 0;
    left: 0;
    background-color: $lightPink;
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 9rem;
    font-size: 5rem;
    letter-spacing: .5rem;
    text-decoration: none;
    font-family: 'Ibarra Real Nova', serif;
}

.sidebar a {
    transition: 0.5s;
    padding-left: 3rem;
    font-size: 4rem;
    letter-spacing: .5rem;
    text-decoration: none;
    color: $purple;
}

.sidebar a:hover {
    color: $pink;
}

.sidebar .closebtn {
    position: absolute;
    top:1rem;
    right:1rem;
    font-size: 3.5rem;
    color: $purple;
}

.sidebar .closebtn:hover {
    color: $pink;
}
.openbtn {
    position: fixed;
    background: transparent;
    border: none;
    top: 4%;
    left: 2%;
    color: $deep;
}

#main {
    transition: margin-left .5s;
}

.sidebar input[type=text] {
    padding: 2rem;
    border: none;
    margin-top: .5rem;
    background-color: $lightPink;
    font-size: 4rem;
    letter-spacing: .5rem;
    margin-left: 1rem;
    font-family: 'Ibarra Real Nova', serif;
    width: 75%;
    color: $purple;
}

.sidebar .s-bar {
    color:$purple;
}