$deep: rgb(42, 5, 77);
$purple: rgb(143, 99, 201);
$pink: rgba(255, 107, 181, 0.651);
$lightPink: rgb(255, 217, 231);
$slate: rgb(248, 239, 239);

$phone-max: 812px;
$phone-min: 375px;
$tablet-max: 1024px;
$tablet-min: 768px;
$laptop-max: 1440px;
$laptop-min: 900px;

// Tablet = 1024 x 768
// Phone = 375 x 812
// Laptop = 1140 x 900

@mixin phone{
  @media (min-width: #{$phone-min}) and (max-width: #{$phone-max}) {
    @content;
  }
}
@mixin tablet{
  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
    @content;
  }
}
@mixin laptop{
  @media (min-width: #{$laptop-min}) and (max-width: #{$laptop-max}) {
    @content;
  }
}
